<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unip.tcc_gpsl.mapaexemplo" >

    <!--permissao de alguns servicos, como o uso do gps, internet etcs -->
    <permission android:name="unip.tcc_gpsl.mapaexemplo.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <user-permission android:name="android.permission.ACCES_NETWORK_STATE"/>
    <user-permission android:name="android.permission.INTERNET" />
    <user-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <user-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <user-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <user-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <user-permission android:name="unip.tcc_gpsl.mapaexemplo.MAPS_RECEIVE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--NAO ESQUECA DE ALTERAR - meta-data para inserir o codigo criado pelo site de api key do google e iserido no android:value="codigo gerado" -->

    </application>

</manifest>
